* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #000000;
  color: #333;
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.home {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: 20px;
}

.homeName {
  color: #FFFFFF;
  font-size: 20px;
}

.homeLinks {
  justify-content: space-between;
}

.homeLink {
  text-decoration: none;
  margin-left: 20px;
  color: #FFFFFF;
  font-size: 20px;
}

.imagePart {
  background-image: url("../assets/images/wood-2045380_1920\ 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1440px;
  height: 993px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}



.imgPartName {
  color: #FFFFFF;
  text-decoration: underline;
  text-decoration-color: #F2C94C;
  font-size: 72px;
  width: fit-content; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 29.5%;
  display: block;   
  margin-bottom: 10px;
}

.loremTextDiv{
  width: 745px;
  height: 201px;
  color: #FFFFFF;
  font-size: 25px;
  display: block; 
  margin-bottom: auto;
}

.topPizza{
  margin: 0 auto;

}

.aboutUs{
  display: flex;
  justify-content: space-between;
}

.aboutUsHeader{
  color: #FFFFFF;
  text-decoration: underline;
  text-decoration-color: #F2C94C;
  font-size: 60px;
  margin-top: 100px;
}

.aboutUsText{
  color: #FFFFFF;
  font-size: 25px;
  height: 400px;
  width: 320px;
}

.aboutUsImageDiv{
  margin-top: 100px;
  height: 500px;
  width: 500px;
}

.aboutUsImg{
  height: 643px;
  width: 413px;
}

.readMore{
  border: solid 1px #F2C94C;
  background-color:  #000000;
  color: #F2C94C;
  height: 54px;
  width: 129px;
  cursor: pointer;
  margin-top: 100px;
}

.findUsHeader{
  text-align: center;
}

.findUsHeaderText{
  color: #FFFFFF;
  text-decoration: underline;
  text-decoration-color: #F2C94C;
  font-size: 60px;
  margin-top: 100px;
}

.findUsBody{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  
}

.map{
  height: 600px;
  width: 600px;
  margin-left: 15%;
}

.findUsTextDiv{
  margin-left: 13%;
}

.findUsText{
  color: #FFFFFF;
  font-size: 25px;
}